<!DOCTYPE html>
<html>
<head>
  <title>BlogProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>

  <div class="row">

    <div class = 'col-md-6'>
      <h1 class='center'>Title</h1>
    </div>

    <div class = 'col-md-6'>
    <%if current_user %>
      <ul class = 'mylist right-nav'>
        <li><%= link_to 'Sign Out',  destroy_user_session_path, :method => :delete %></li>
      </ul>
    <%else %>
      <ul class = 'mylist right-nav'>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      </ul>
    </div>
    <%end%>

  </div>


  <ul class="nav nav-pills nav-justified col-md-6">
    <li class="active"><a href="#">Blog</a></li>
    <li><a href="##">About</a></li>
    <% if current_user %>
      <li><%= link_to 'Account Settings', edit_user_registration_path%></li>
    <% else %>
      <li><a href="###">Register</a></li>
    <% end %>
  </ul>

  <%= yield %>


</div>

</body>
</html>
